# Global Deployment Configurations
AWS_REGION=us-east-1
ENVIRONMENT=prod

# ECS Frontend
FRONTEND_PORT=80
FRONTEND_IMAGE=hybrid-devops-frontend:latest

# ECS Backend
BACKEND_PORT=3000
BACKEND_IMAGE=hybrid-devops-backend:latest
JWT_SECRET=supersecretjwtkeyforlocaldev123!

# AWS Resource Mappings (deployed via SAM/Terraform)
AWS_SNS_ORDER_CREATED_ARN=arn:aws:sns:us-east-1:123456789012:OrderCreatedTopic-prod
DYNAMODB_PRODUCTS_TABLE=ProductsTable-prod
DYNAMODB_ORDERS_TABLE=OrdersTable-prod
AWS_S3_INVOICE_BUCKET=invoice-pdf-bucket-prod-12345
