# Application Port & Node Environment
PORT=3000
NODE_ENV=production

# JWT Token Secret
JWT_SECRET=supersecretjwtkeyforlocaldev123!

# AWS Configuration
AWS_REGION=us-east-1

# Set to true to bypass AWS credentials checks and use local mock data
USE_LOCAL_MOCK=false

# AWS SNS Topic for OrderCreated Event (SAM SNS topic ARN)
AWS_SNS_ORDER_CREATED_ARN=arn:aws:sns:us-east-1:123456789012:OrderCreatedTopic-prod

# AWS DynamoDB Tables
DYNAMODB_PRODUCTS_TABLE=ProductsTable-prod
DYNAMODB_ORDERS_TABLE=OrdersTable-prod
